<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Center Operations</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="/lib/jquery.ui.combined/1.12.1/Content/Content/themes/base/jquery-ui.css" />
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/jquery.ui.combined/1.12.1/Content/Scripts/jquery-ui-1.12.1.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderSection("SectionDialog", required: false)
    <div class="container navbar-fixed-top">
        <div class="banner">
            <a></a>
            <h1>Data Center Operations</h1>
        </div>
        @await Html.PartialAsync("_NavBar")
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <hr />
        <p>
            &copy; @DateTime.Now.Year - Data Center Operations
        </p>
    </div>  

</body>
</html>
