<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Center Operations</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/jquery.ui.combined/1.12.1/Content/Content/themes/base/jquery-ui.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery.ui.combined/1.12.1/Content/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderSection("SectionDialog", required: false)
    <div class="container sticky-top">
        <div class="banner">
            <a></a>
            <h1>Data Center Operations</h1>
        </div>
        @await Html.PartialAsync("_NavBar")
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="container">
        <hr />
        <p>
            &copy; @DateTime.Now.Year - Data Center Operations
        </p>
    </div>
</body>
</html>
