@model IEnumerable<DataCenterOperation.Site.ViewModels.FailureListItem>

<table class="table table-bordered table-striped table-hover">
    <caption>
        <a asp-action="Create">登记新的故障信息</a>
    </caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FailureCause)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DateRecorded)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DateSolved)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.WhoRecorded)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="col">
                    @Html.DisplayFor(modelItem => item.Index)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FailureCause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRecorded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhoRecorded)
                </td>
                <td>
                    @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.Id }) |
                    <button class="btn btn-primary btn-sm" onclick="open_upload_dialog('@item.Id')">上传故障报告</button>
                    <button class="btn btn-primary btn-sm" onclick="remove_report('@item.Id')">删除故障报告</button>
                    <button class="btn btn-primary btn-sm" onclick="show_report('@item.Id')">查看故障报告</button>
                </td>
            </tr>
        }
    </tbody>
</table>
