@model DataCenterOperation.Site.ViewModels.FailureDetailsViewModel

@{
    ViewData["Title"] = $"故障信息详情 - {Model.DeviceName}";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhoRecorded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhoRecorded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenRecorded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenRecorded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FailureCause)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FailureCause)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenReported)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenReported)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WayReportedVia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WayReportedVia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetReportedTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetReportedTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetEngineerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetEngineerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasReportedToSpecifiedPerson)张科
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasReportedToSpecifiedPerson)
        </dd>
        <dt>
            张科 @Html.DisplayNameFor(model => model.CommentsFromSpecifiedPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CommentsFromSpecifiedPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasServiceReportSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasServiceReportSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceReportId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceReportId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhyNoServiceReportSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhyNoServiceReportSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SolutionEngineer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SolutionEngineer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenSolved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenSolved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperiorComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuperiorComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperiorSignature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuperiorSignature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuperiorSignatureDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SuperiorSignatureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">返回故障信息统计表</a>
</div>
