@model DataCenterOperation.Site.ViewModels.FailureSearchViewModel

@{
    ViewData["Title"] = "故障信息统计表";
}

<h3>@ViewData["Title"]</h3>
<hr />

<form asp-action="Index" class="form-inline mb-2">
    <div class="form-group mr-sm-2">
        <input asp-for="Keyword" class="form-control form-control-sm" />
    </div>
    <div class="form-group mr-sm-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">搜索</button>
    </div>
    <small class="form-text">记录数：@Model.Count，页数：@Model.TotalPages。</small>
</form>

@await Html.PartialAsync("_Failures", Model.Failures)

<div>
    @{
        var prevDisabled = !Model.HasPrevPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    @if (Model.TotalPages > 1)
    {
        <nav aria-label="Search results pages">
            <ul class="pagination pagination-sm">
                <li class="page-item @prevDisabled">
                    <a asp-action="Index"
                       asp-route-pageIndex="@(Model.PageIndex - 1)"
                       asp-route-pageSize="@(Model.PageSize)"
                       asp-route-keyword="@Model.Keyword"
                       class="page-link">
                        上一页
                    </a>
                </li>
                <li class="page-item @nextDisabled">
                    <a asp-action="Index"
                       asp-route-pageIndex="@(Model.PageIndex + 1)"
                       asp-route-pageSize="@(Model.PageSize)"
                       asp-route-keyword="@Model.Keyword"
                       class="page-link">
                        下一页
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>
