@model IEnumerable<DataCenterOperation.Site.ViewModels.AssertX86ServerViewModel>

<table class="gridtable">
    <thead>
        <tr>
            <th>操作</th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.FixedAssertNumber)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.CPU)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.Memory)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.HD)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.EngineNumber)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.RackLocation)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.BeginU)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.EndU)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.VirtualizedResourcePool)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.BusinessSystem)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.IP)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.NetcardNumber)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.HBANumber)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.StorageSize)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.MaintenanceInformation)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.InstallDate)
            </th>
            <th data-sort="string">
                @Html.DisplayNameFor(model => model.Band)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.ID)
                <td>
                    <button onclick="X86SServer_Remove('@item.ID')">删除</button>
                    <button onclick="X86SServer_Modify('@item.ID')">更改</button>
                    <button onclick="X86SServer_Users('@item.FixedAssertNumber')">用户信息</button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FixedAssertNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RackLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VirtualizedResourcePool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessSystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetcardNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HBANumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StorageSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaintenanceInformation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstallDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Band)
                </td>
            </tr>}
    </tbody>
</table>